<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'styles.css' %>

    <title>Dulce Capricho</title>
</head>

<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="./index.html">Dulce Capricho</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aira-controls="navbarNavDropdown" aira-expanded="false" aira-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="./encargos.html">Encargos</a></li>
                <li class="nav-item"><a class="nav-link" href="./eventos.html">Eventos</a></li>
                <li class="nav-item active"><a class="nav-link" href="./politica_y_condiciones.html">Política y Condiciones</a></li>
                <li class="nav-item"><a class="nav-link" href="./contacto.html">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" href="./quienes_somos.html">¿Quiénes somos?</a></li>
                <li class="nav-item"><a class="nav-link" href="./galeria.html">Galería</a></li>
                <li class="nav-item"><a class="nav-link" href="./navidad.html">Especial de Navidad</a></li>
                <li class="nav-item"><a class="nav-link" href="./halloween.html">Especial de Halloween</a></li>
            </ul>
        </div>
    </nav>

<!-- Jumbotron clasico -->
    <!-- ocupa el largo de la pantalla-->
    <div class="jumbotron">
        <h1><a href="./index.html"> Dulce Capricho </a></h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="pyc">Presupuesto</h2>
                <p  class="text-center">Pídenos presupuesto sin ningún tipo de compromiso</p>
            </div>

            <div class="col-sm-12 col-md-3 text-center">
                <svg viewBox="0 0 16 16" class=" presupuesto bi bi-check-circle" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path fill-rule="evenodd"
                        d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                </svg>

                <h3>Confirmación de fecha</h3>
                <p1>Consúltanos disponibilidad y reserva tu evento.</p1>

            </div>

            <div class="d-none d-md-block col-md-1 text-center">
                <svg viewBox="0 0 16 16" class="presupuesto bi bi-arrow-bar-right" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
                </svg>
            </div>

            <div class="d-block d-md-none col-md-1 text-center">
                <svg viewBox="0 0 16 16" class="presupuesto bi bi-arrow-bar-down" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z" />
                </svg>
            </div>

            <div class="col-sm-12 col-md-3 text-center">
                <svg viewBox="0 0 16 16" class="presupuesto bi bi-people" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                </svg>
                <h3>Presupuesto</h3>
                <p1>Te facilitaremos un listado detallado de todas nuestras elaboraciones.</p1>
            </div>

            <div class="d-none d-md-block col-md-1 text-center">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="presupuesto bi bi-arrow-bar-right"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
                </svg>
            </div>

            <div class="d-block d-md-none col-md-1 text-center">
                <svg viewBox="0 0 16 16" class="presupuesto bi bi-arrow-bar-down" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z" />
                </svg>
            </div>

            <div class="col-sm-12 col-md-3 text-center">
                <svg viewBox="0 0 16 16" class="presupuesto bi bi-reply-fill" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.079 11.9l4.568-3.281a.719.719 0 0 0 0-1.238L9.079 4.1A.716.716 0 0 0 8 4.719V6c-1.5 0-6 0-7 8 2.5-4.5 7-4 7-4v1.281c0 .56.606.898 1.079.62z" />
                </svg>
                <h3>Personaliza tu evento</h3>
                <p1>Haz que tu evento sea único con nuestras recetas y decoración personalizada.</p1>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12 text-center">
                <h2 class="pyc">Políticas de empresa</h2>
            </div>
            <% @politicas.each do |politica| %>
            <div class="col-sm-12 col-md-6">
                    <div class="card card-pyc text-center">
                        <div class="card-header">
                            <h3 class="card-title">
                                <%= politica.titulo%>
                            </h3>
                        </div>
                        <div class="card-body">
                            <p1 class="card-text">
                                <%= politica.descripcion%>
                            </p1>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="pyc">Alérgenos e intolerancias</h2>
                <p1>En toda nuestras mesas encontrará un cartel personalizado con la correspondiente lista de
                    alérgenos
                </p1>
                <% @alergenos.each do |alergeno| %>
                    <%= image_tag alergeno.imgLarge, :class => "d-none d-lg-block mx-auto" %>
                    <%= image_tag alergeno.imgMedium, :class => "d-none d-sm-block d-lg-none mx-auto img-fluid" %>
                    <%= image_tag alergeno.imgSmall, :class => "d-block d-sm-none mx-auto img-fluid" %>
                <% end %>
            </div>
        </div>
    </div>

    <footer>
            <div class="row">
                <div class="col-md-4 d-flex flex-column text-center text-md-left">
                    <% @footers.each do |footers| %>
                    <a href="<%=footers.enlaceizda%>" target="_blank"><%=footers.nombreizda%></a>
                    <% end %>
                </div>
                <div class="col-md-4 d-flex flex-column text-center">
                    <address>
                        <h3>Oficina central</h3>
                        <% @footers.each do |footers| %>
                        <p class="p-footer"><%=footers.nombremedio%></p>
                        <% end %>
                    </address>
                </div>
            
                <div class="col-md-4 d-flex flex-column text-center text-md-right">
                <% @footers.each do |footers| %>
                    <a href="<%=footers.enlacedcha%>"><%=footers.nombredcha%></a>
                    <% end %>
                    <a class="nav-link" href="./login/admin.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                            <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </footer>
</body>

</html>